:root {
  --white: #ffffff;
  --black: #1f1d1d;
  --blue: #3cabff;
  --gray: #dadada;
  --red: #db5853;
  --yellow: #fcff40;
  --green: #5df08d;

  --font1: "Raleway", Arial, Helvetica, sans-serif;
  --font2: "Roboto", Arial, Helvetica, sans-serif;
}
